XmlSchemaDemo/XmlSchemaDemo/Racers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.formula1.com/2016" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Racers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Racer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Team">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="City" type="xs:string" />
                    <xs:element name="Country" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="FirstName" type="xs:string" use="optional" />
            <xs:attribute name="LastName" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>