XQuerySamples/RacersSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Wins" type="xs:byte"/>
		<xs:element name="Starts" type="xs:short"/>
	<xs:element name="Country" type="xs:string"/>
	<xs:element name="Lastname" type="xs:string"/>
	<xs:element name="Firstname" type="xs:string"/>
	<xs:element name="Racer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Firstname" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Lastname" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Country" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Starts" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Wins" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Racers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Racer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
